.about {
  top: 239px;
  position: absolute;
  height: 570px;
  width: 375px;
  color: black;
  background-color: rgba(255, 255, 255, 0);
  z-index: 0;
}

h1 {
  width: 300px;
  position: absolute;
  font-family: 'roboto';
  letter-spacing: 5px;
  font-size: 60px;
}

.question-text {
  width: 300px;
  position: absolute;
  left: 25px;
  text-align: center;
  font-size: 14px;
}

.explanation-text {
  position: absolute;
  left: 60px;
  width: 200px;
  height: auto;
  font-size: 12px;
}

.break-line {
  width: 200;
  position: center;
  border-width: 1px;
  color: grey;
  background-color: grey;
}
