.footer {
  position: absolute;
  top: 712px;
  width: 375px;
  height: 100px;
  background-color: #2f2f2f;
  border-radius: 30px 30px 30px 30px;
}
.icon-container {
  margin: auto;
  padding-top: 15px;
  width: 100%;
  text-align: center;
  white-space: nowrap;
  display: inline-block;
}

.footer-icon {
  float: left;
  margin: auto;
  padding-top: 20px;
  padding-left: 33px;
  padding-right: 30px;
}
