.header {
  background-color: white;
  position: absolute;
  color: white;
  font-weight: bold;
  font-size: 16px;
  width: 100%;
  display: flex;
}

#icon-container {
  padding: 10px;
  padding-left: 20px;
  vertical-align: middle;
  outline: none;
  text-decoration: none;
  border: none;
  outline: none;
  text-decoration: none;
  color: inherit;
  -webkit-tap-highlight-color: white;
}

.header-text {
  // padding: 10px;
}
