.header {
  background-color: #0099ff;
  position: absolute;
  color: white;
  font-weight: bold;
  font-size: 16px;
  width: 100%;
  display: flex;
}

.header > a:nth-child(3) {
  margin-left: auto;
}

#icon-container {
  padding: 20px;
  vertical-align: middle;
  outline: none;
  text-decoration: none;
  border: none;
  outline: none;
  text-decoration: none;
  color: inherit;
  -webkit-tap-highlight-color: white;
}

.header-text {
  padding: 10px;
}
