.login {
  position: absolute;
}

.login-div {
  background-color: rgba(255, 255, 255, 0.7);
  position: absolute;
  height: 406px;
  width: 375px;
  top: 406px;
}

.login-title {
  position: absolute;
  top: 38.5px;
  left: 150px;
  text-align: center;
  font-size: 24px;
  color: black;
  letter-spacing: 2px;
}

.email {
  position: absolute;
  top: 113.5px;
  left: 48.5px;
}

.hr-email {
  position: absolute;
  width: 280px;
  top: 130.5px;
  left: 48.5px;
}

.password {
  position: absolute;
  left: 48.5px;
  top: 160px;
}

.hr-password {
  position: absolute;
  width: 280px;
  top: 178px;
  left: 48.5px;
}

.eye-slash {
  position: absolute;
  top: 165px;
  right: 48.5px;
}
