.login {
  position: absolute;
}

.login-div {
  background-color: white;
  position: absolute;
  height: 406px;
  width: 375px;
  opacity: 0.7;
  top: 406px;
}

.login-title {
  position: absolute;
  top: 38.5px;
  left: 150px;
  text-align: center;
  font-size: 24px;
  color: black;
  letter-spacing: 2px;
}

hr {
  width: 280px;
}
