.login-div {
  background-color: rgba(255, 255, 255, 0.7);
  position: absolute;
  height: 406px;
  width: 375px;
  top: 406px;
}

.login-title {
  position: absolute;
  top: 38.5px;
  left: 150px;
  text-align: center;
  font-size: 24px;
  color: black;
  letter-spacing: 2px;
  font-family: 'Roboto', sans-serif;
}

.sign-up-title {
  position: absolute;
  top: 38.5px;
  left: 130px;
  text-align: center;
  font-size: 24px;
  color: black;
  letter-spacing: 2px;
  font-family: 'Roboto', sans-serif;
}

.email {
  position: absolute;
  top: 113.5px;
  left: 48.5px;
  outline: none;
  border: none;
  background-color: rgba(255, 255, 255, 0) !important;
  letter-spacing: 2px;
  width: 280px;
  height: 20px;
  text-transform: uppercase;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
}

.hr-email {
  position: absolute;
  width: 280px;
  top: 130.5px;
  left: 48.5px;
}

.password {
  position: absolute;
  left: 48.5px;
  top: 160px;
  outline: none;
  border: none;
  background-color: rgba(255, 255, 255, 0) !important;
  letter-spacing: 2px;
  width: 280px;
  height: 20px;
}

.hr-password {
  position: absolute;
  width: 280px;
  top: 178px;
  left: 48.5px;
}

.eye {
  position: absolute;
  top: 165px;
  right: 48.5px;
}
