@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

h1 {
  top: 170px;
  left: 50px;
}

.retrain-text {
  font-size: 12px;
  position: absolute;
  top: 270px;
  right: 55px;
  text-align: right;
  letter-spacing: 2px;
  color: black;
}
