@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

h1 {
  position: absolute;
  top: 170px;
  left: 50px;
  font-family: 'roboto';
  letter-spacing: 5px;
  font-size: 60px;
}

.homepage-text {
  font-size: 12px;
  position: absolute;
  top: 270px;
  right: 55px;
  text-align: right;
  letter-spacing: 2px;
}

.sign-up-text {
  position: absolute;
  bottom: 50px;
  left: 75px;
  font-size: 14px;
}
