.profile {
  position: absolute;
  top: 0px;
  height: 812px;
  width: 375px;
  background-color: white;
}

.anatomy-button-div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.anatomy-button {
  font-size: 25px;
}

.human-svg {
  padding: auto;
}
