.profile {
  position: absolute;
  top: 0px;
  height: 812px;
  width: 375px;
  background-color: white;
  z-index: -1;
}

.human-svg {
  position: absolute;
  top: 68px;
  left: 21px;
}

.anatomy-button {
  font-size: 20px;
}
